EXTRACTOR_SOURCE="LOCAL"
DOCUMENT_BASE_PATH="./external_sources/"
VERIFICA_ATTI_WEBHOOK_URL="=https://<link-to-n8n>/webhook/<webhook-id>"
DATABASE_URL = "sqlite:///./test.db"
JWT_SECRET_KEY = "<a-very-secret-key>"
JWT_ALGORITHM = "HS256"
APP_PORT=8500
PROXY_ENABLED="False"